body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffb703;
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input {
    margin-bottom: 25px;
  
  }
  
  .theliveryFont{
    font-family: "Ink Free";
    color:#ed553b;
    font-weight: 700;
  }